body {
    background-color: rgb(253, 251, 251);
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    color:rgb(0,0,1);
    line-height: 25px;
}

#cabecalho {
    position:fixed;
    top:0px;
}

#titulo {
    
}

table, tr, td{
    border:1px solid;
    position:relative;
}

.box {
    margin:20px;
    padding: 30px;
    border:2px solid;
    width: 40%;
}

.lado-direito{
    float:right; 
    z-index: 1;
    right:20px;
}

.lado-esquerdo{
    float:left;
    z-index: 2;
    height: 270px;
}
#rodape{
    position:static; 
    bottom: 0;
    text-align:center;
    height: 50px;
}
