body {
    background-color: rgb(253, 251, 251);
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    color:rgb(0,0,1);
    line-height: 2px;
}

#cabecalho {
    position:fixed;
    top:0px;
}

#titulo {
    
}

table, tr, td{
    border:1px solid;
    position:relative;
}

.box {
    margin:20px;
    padding: 30px;
    border:2px solid;
}